@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0 );
  clip-path: inset(100%);
}
/* buttons and inputs */

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  text-align: center;
  border: none;
}

.button-light {
  background-color: rgba(130, 179, 211, 1);
  text-align: center;
}

.button-active {
  background-color: rgba(125, 181, 79, 1);
  text-align: center;
}

.button-transparent {
  background-color: transparent;
  text-align: center;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-input {
  background-color:#f2f2f2;
}

/* main-index */

.main-header {
  color: #333333;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-underline-offset: 21px;
}

.user-link {
  text-decoration: none;
}

.user-link-search {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.user-link-favourites {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/svg/heart.svg");
  background-repeat: no-repeat;
  background-size: 18px 17px;
}

.favourites-count {
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  background-size: 20px 20px;
  border-radius: 50%;
}

.main-index,
.main-catalog {
  color: #333333;
  background-color: #ffffff;
}

.hero {
  background-image: url("../images/main-background.jpg"), url("../images/svg/zigzag.svg");
  background-color: #343e47;
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-position: center bottom;
  text-align: center;

}

.page-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.page-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.item-text {
  text-align:center;
}

.advantages-item {
  background-color: rgba(131, 179,211,0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179,211,0.12);
}

.advantages-item-full {
  color: #ffffff;
  background-color: #82B3D3;
}

.services-item-house {
  background-color: rgba(131, 179,211,0.12);
  background-image: url("../images/svg/house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center;
}

.services-item-food {
  background-color: #ffffff;
  background-image: url("../images/svg/food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center;
}

.services-item-souvenirs {
  background-color: rgba(131, 179,211,0.12);
  background-image: url("../images/svg/souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center;
}

.subscription-home {
   color: #ffffff;
   background-color: #828c96;
   background-image: url("../images/subscribe.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
}

.footer-phone {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

/* catalog */

.filter {
  color: #ffffff;
  background-color: #755651;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-main-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.breadcrumbs-link-home {
  color: #ffffff;
  background-color: #755651;
  background-image: url("../images/svg/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}

.filter-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control-text {
  line-height: 23px;
  text-transform: capitalize;
}

.range-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.view-link-tile {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/svg/tile-view.svg");
}

.view-link-slideshow {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/svg/slide-view.svg");
}

.view-link-list {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/svg/list-view.svg");
}

.hotel-title-link {
  text-decoration: none;
}

.hotel-card-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: inherit;
  text-transform: capitalize;
}

.hotel-rating-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.hotel-rating-4 {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/svg/stars.svg");

}
.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-more {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
