@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  width: 1280px;
  height: 100%;
  margin: 0;
  padding: 0 40px;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* buttons and inputs */

/* Добавить display, так как может быть ссылка */
/* Добавить паддинги и убрать маргин в Safari */
.button {
  display: inline-block;
  margin: 0;
  padding: 8px 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.button-light {
  background-color: #82b3d3;
}

/* Это свойства для класса hotels-favourites-active */
/* text-align уже есть в классе button, цвет должен быть в формате HEX */
/* .button-active {
  text-align: center;

  background-color: rgba(125, 181, 79, 1);
} */

.button-transparent {
  background-color: transparent;
}

.field {
  width: 100%;
  height: 48px;
  /* откуда эти паддинги? */
  padding: 13px 17px 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.field::placeholder {
  color: #000000;

  opacity: 0.6;
}

/* main-index */
.main-header {
  position: relative;
  z-index: 1;

  padding: 0 70px;
}

.navigation {
  display: flex;
}

.logo-link {
  display: block;
  margin-right: 28px;
  margin-bottom: -9px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 465px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
  text-align: center;
}

.navigation-link {
  display: inline-block;
  width: 125px;
  padding: 19px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration: underline;

  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 24px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 110px;
  margin: 0;
  margin-right: 20px;
  padding: 0;

  list-style: none;
}

/* display: grid;
   grid-template-columns: 22px 22px;
   grid-template-columns: 1fr 1fr;
   align-items: center;*/

.user-link {
  position: relative;

  display: inline-block;
  min-width: 44px;
  height: 44px;

  color: #000000;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.user-link-search {
  background-image: url("../images/svg/search.svg");
}

.user-link-favourites {
  position: relative;
  z-index: 1;

  background-image: url("../images/svg/heart.svg");
}

.favourites-count {
  position: absolute;
  right: 9%;
  bottom: 53%;
  z-index: 2;

  padding: 4px;

  font-size: 10px;
  line-height: 10px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  /* display: block; */
  width: 160px;
  margin: auto 0;
}

.main {
  flex-grow: 1;
}

.hero {
  min-height: 485px;
  padding-top: 51px;

  text-align: center;
  color: #ffffff;

  background-color: #534f50;
  background-image: url("../images/svg/zigzag.svg"),
    url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto, cover;
}

.advantages-intro {
  margin-bottom: 21px;
  padding: 69px 0;
}

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px 400px 400px;
}

.advantages-content {
  padding: 103px 85px;
}

.item-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-subtitle::after {
  content: " ";

  display: block;
  width: 60px;
  height: 2px;
  margin: 15px auto;

  background: rgba(0, 0, 0, 0.3);
}

.advantages-subtitle .advantages-item-full::after {
  background: rgba(255, 255, 255, 0.3);
}

.item-text {
  margin: 0;
}

.advantages-image {
  /* ???? */
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:first-child {
  grid-column-end: 4;
  grid-column-start: 1;
}

.advantages-item:last-child {
  grid-column-end: 4;
  grid-column-start: 1;
}

.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  display: flex;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-item-full .advantages-subtitle {
  color: #ffffff;
}

.services-list {
  display: flex;
  flex-basis: auto;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-intro {
  padding: 64px 0;
}

.services-title {
  margin-bottom: 20px;
}

.services-item {
  padding: 80px 85px;

  text-align: center;

  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px 72px;
}

.services-subtitle {
  margin-bottom: 30px;
}

.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-item-house {
  /* display: inline-block;
  width: 75px;
  height: 72px;
  vertical-align: bottom; */
  background-image: url("../images/svg/house.svg");
}

.services-item-food {
  background-image: url("../images/svg/food.svg");
}

.services-item-souvenirs {
  background-image: url("../images/svg/souvenirs.svg");
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  display: block;
  width: 376px;
}

.subscription {
  width: 1200px;
  padding: 96px 104px;
}

.subscription-home {
  width: 1200px;

  text-align: center;
  color: #ffffff;

  background-color: #828c96;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-home .subscription-title {
  color: #ffffff;
}

.subscription-input::placeholder {
  font-weight: 400;
}

.subscription-title {
  margin-bottom: 20px;
}

.subscription-text {
  margin-bottom: 54px;
}

.subscription-form {
  display: grid;
  justify-content: center;

  grid-template-columns: 452px 232px;
}

.subscription-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscription-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 190px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-phone {
  display: block;
  margin: auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.htmlacademy-link {
  margin-top: auto;
  margin-bottom: auto;
}

/* catalog */

.filter {
  color: #ffffff;

  background-color: #755651;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-main-title {
  margin: 0;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;

  background-image: url("../images/svg/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.filter-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-label {
  line-height: 23px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link-active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../images/svg/tile-view.svg");
}

.view-link-slideshow {
  background-image: url("../images/svg/slide-view.svg");
}

.view-link-list {
  background-image: url("../images/svg/list-view.svg");
}

.hotel-title-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

/* .hotel-image-link {
  max-width: 100%;
  height: auto;
} */

.hotel-rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-rating-star {
  display: block;
  height: 37px;

  background-image: url("../images/svg/stars.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.hotel-rating-4 {
  width: 90px;
}

.hotel-rating-3 {
  width: 70px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}
